<launch>

  <node pkg="nord_estimation" type="particle_filter" name="particle_filter" />
  <node pkg="nord_estimation" type="debris_tracker" name="debris_tracker" />
  <node pkg="nord_control" type="nord_point_control" name="nord_point_control" />
  <node pkg="nord_planning" type="nord_debris_plan" name="nord_debris_plan" />

</launch>
