<launch>

  <include file="$(find openni2_launch)/launch/openni2.launch" />
  <include file="$(find phidgets_imu)/launch/imu.launch" />
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" args="_port:=/dev/ttyACM0"/>

  <node pkg="nord_sensors" type="ir_sensors" name="ir_sensors" />
  <node pkg="nord_estimation" type="odometry" name="odometry" />
  <node pkg="nord_pointcloud" type="process" name="process" />
  <node pkg="nord_pointcloud" type="evenmorecleverwallremoval2" name="evenmorecleverwallremoval2" />
  <node pkg="nord_pointcloud" type="objectdetection" name="objectdetection" />
  <node pkg="nord_pointcloud" type="debrisdetection" name="debrisdetection" />
  <node pkg="nord_pointcloud" type="flann" name="flann" />
  <node pkg="nord_vision" type="ImageObjectFilter.py" name="ImageObjectFilter" />
  <node pkg="nord_vision" type="classification_server.py" name="classification_server" />
  <node pkg="nord_vision" type="evidence_server.py" name="evidence_server" />
  <node pkg="nord_motor_controller" type="nord_motor_controller" name="nord_motor_controller" />
  <node pkg="ras_espeak" type="espeak_node" name="espeak_node" />
  <!-- <node pkg="nord_imu" type="nord_imu" name="nord_imu" /> -->

</launch>
